<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="panel panel-primary col-md-4">
			<div class="panel-title">
			<h2 id="row2">Welcome to teach.org</h2>

				<% @plans.each do |plan| %>
			  <h3>SWAT: <%= link_to plan.object, plan %></h3>
			  <% end %>
			<br><br>
			 <button class="btn btn-default" type="submit"><%= link_to "NEW LESSON PLAN", new_plan_path %></button></p>

			<div id="access_denied"><h2><%= flash[:notice] if flash[:notice] %></h2></div>
			</div>
		<div class="col-md-4"></div>
	</div>
</div>
