<p>welcome to teach.org</p>

<% @plans.each do |plan| %>
  <h3>SWAT: <%= link_to plan.object, plan %></h3>
  <% end %>
<br><br>
 <p><%= link_to "Create a new lesson plan", new_plan_path %> </p>

<p><h2><%= flash[:notice] if flash[:notice] %></h2></p>