
<p>welcome to teach.org</p>

<div class="subject">
<p id="lesson">Find lesson plans by subject</p>
<% @plans.each do |plan| %>
  <h3>Subjects: <%= link_to plan.object, plan %></h3>
  <% end %>
<br><br>
 <p><%= link_to "Create a new lesson plan", new_plan_path %> </p>

</div>
<p><h2><%= flash[:notice] if flash[:notice] %></h2></p>

