<div class="container-fluid">
  <div id="mentions" class="panel panel-primary col-xs-4 col-md-6 col-lg-6">
    <div class="panel-heading">Teach.org is Reknowned</div>
    <div class="panel-body">
      <blockquote><p>
      	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      </p>
      <footer>Willis Lau <cite title="Source Title">HEAD HONCHO</cite></footer>
      </blockquote>
    </div>
  </div>
<<<<<<< HEAD

</div>

=======
>>>>>>> e0e9b8d31d95be36bf30074bf7c73bbd0b8714e9
    
  <div class="panel col-xs-4 col-md-6 col-lg-6">
    <div class="panel-title" id="mentinos2"><h4>Great Mentions:</h4></div>
    <div class="panel-body">
    <ul>
      <li><div class="imgs">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQgLpxLMCZCPeacTDKanq0_85qX43GcYpMbehyrpi9gGzJn1I-oCgg9FRw9" id="img1" alt="Responsive image"></div></li>
      <li><div class="imgs">  
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTDuOgrNdTOg7pqgGXYZb4UuEA3D_hvR4qXRuxtycXplwRSuMWP" id="img2"></div></li>
      <li><div class="imgs">   
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMihakYdgj7t3FrL-B05nLPdGJQlycnFnA_a3OSzGvpcbMs61y" id="img3"></div></li>
    </ul>
    </div>
    </div>
 
  </div>
  <div class="container-fluid">
    <div class="row">
     <div class="row-height">
      <div class="panel col-sm-4 col-height">
        <div class="inside inside-full-height">
        <h2 id="row2">About</h2>
        </div>
      </div>
      <div class="panel panel-primary col-sm-4 col-height" id="row0">
        <div class="inside inside-full-height">
          <h4>Our Business, Education</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
           <br>
          <div class="hand"><img src="http://static1.squarespace.com/static/55ef06cde4b0f95d48eded06/t/55fc4a99e4b092562d29ebc2/1442597530165/education%2Bstock%2Bdiversity%2Bschool%2Bstudents%2Bclassroom%2Braise%2Bhands.jpg?format=2500w" id="hands"></div>
          <br>

          </div>
      </div>
      <div class="panel panel-primary col-sm-4 col-height" id="row0">
        <div class="inside inside-full-height">
        <h4>Our Story Is
        Growth</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="hand"><img src="http://www.youthactionproject.org/wp-content/uploads/2014/06/11.-Boeken.jpg" id="hands"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        </div>
      </div>
    </div>
  </div>
<hr>
  <div class="container-fluid">
    <div class="row" id="row3">
    <h2 id="row2_header">Why Teach.org?</h2>
      <div class="panel col-sm-4">
          <i class="fa fa-camera fa-3x" id="icons"></i><hr>
          <p>
            Teach.org is optimized to train your brain to grow intensely. Grey matter will abound if you commit to take part in our expotentially educational service.
          </p>
      </div>
      <div class="panel col-sm-4">
          <i class="fa fa-graduation-cap fa-3x" id="icons"></i><hr>
          <p>
            Teach.org is optimized to train your brain to grow intensely. Grey matter will abound if you commit to take part in our expotentially educational service.
          </p>
      </div>
      <div class="panel col-sm-4">
          <i class="fa fa-line-chart fa-3x" id="icons"></i><hr>
          <p>
            Teach.org is optimized to train your brain to grow intensely. Grey matter will abound if you commit to take part in our expotentially educational service.
          </p>
      </div>
    </div>
    </div>
  </div>
</div>
 <nav class="navbar navbar-inverse navbar-bottom" style="padding:0 0 20px 0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h5 id='footer-header'> SITEMAP </h5>
                    <div class="col-sm-4" style="padding: 0 0 0 0px">
                        <p>News</p>
                        <p>contact</p>
                    </div>
                    <div class="col-sm-4" style="padding: 0 0 0 0px">
                        <p>FAQ</p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5 id='footer-header'></h5>
                </div>
                <div class="col-sm-4">
                    <h5 id='footer-header'></h5>
                </div>
            </div>
        </div>
    </nav>


