<h1>WELCOME TO THE QUIZ SHOW!!!</h1>
<p>STARRING WILLIS LAU!!!</p>

<div class="panel panel-info col-md-6">
  <div class="panel-heading">Quiz Show is Reknowned</div>
  <div class="panel-body">
    
  </div>
</div>
<div class="panel col-md-6">
  <div class="panel-heading">Great Mentions:</div>
  <div class="panel-body">
    <img class=".img-responsive" src="http://jonbergmann.com/wp-content/uploads/2013/07/NYTlogo.jpg">
    <img src="">
    <img src="">
  </div>
</div>


