<div id="profile">

<h1>Welcome <%= @user.username %>!</h1>

</div>

<div class="container">

<h1>Quiz Time!</h1>

	<div id="quizContent" class="row quiz">
		<div class="col-sm-12">
		<h2 id="quizHeader"></h2>
	</div>
<div id="questions" class="row">
		<div class="col-sm-6"><a data-id="1" class="btn btn-default answer">1</a>
		</div>

		<div class="col-sm-6"><a data-id="2" class="btn btn-default answer">2</a>
		</div>


		<div class="col-sm-6"><a data-id="3" class="btn btn-default answer">3</a>
		</div>


		<div class="col-sm-6"><a data-id="4" class="btn btn-default answer">4</a>
		</div>


	</div>


	</div>

	<div class= "row pageMovement">

		<div id="previous" class="col-xs-2  col-xs-offset-3 btn btn-primary pull-left">Previous</div>

		<div id="next" class="col-xs-2 col-xs-offset-2 btn btn-primary pull-right">Next
		</div>

		
		
		</div>

		<div class="row">
		<div id="finishQuiz" class="btn btn-success btn-block hide"> Submit Quiz </div>

		</div>
		
		<div class="progress">
  <div id="progressBar" class="progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
    <span class="sr-only">0% Complete</span>
  </div>
</div>





</div>